@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
}

:root {
  --almost-White: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

html {
  scroll-behavior: smooth;
}

.login-register-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-top: -2px;
  margin-right: 120px;
}

.login-register-container button {
  padding: 10px;
}

.login-btn,
.register-btn,
.login-btna,
.register-btna {
  font-family: "Epilogue", sans-serif;
  background-color: transparent;
  color: var(--medium-gray);
  padding: 10px;
}

.login-btn:hover,
.register-btn:hover,
.register-btna:hover,
.login-btna:hover {
  cursor: pointer;
}

.login-btn,
.login-btna {
  border: none;
}

.register-btn,
.register-btna {
  border-radius: 1rem;
  border: 1.5px solid var(--medium-gray);
  padding: 10px;
  width: 80%;
}

#desktop-nav {
  align-items: center;
  padding: 13px 33px;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  flex-direction: row;
  align-items: center;
  width: 435px;
  margin-right: 10em;
}

a {
  color: var(--medium-gray);
  text-decoration: none;
  text-decoration-color: var(--almost-White);

  font-family: "Epilogue", sans-serif;
}

a:hover {
  color: var(--medium-gray);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--medium-gray);
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 150%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;

  transition: all 0.3 ease-in-out;
}

.menu-links button {
  margin-top: 20px;
}

.menu-links a {
  display: flex;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  color: var(--medium-gray);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  align-self: start;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;

  width: 150px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.mobile-image {
  display: none;
}

.desktop-image {
  margin-left: 8rem;
  width: 100%;
}

.content {
  margin-top: 10rem;
}

.sub-content h1 {
  font-size: 60px;
  font-weight: 900;
  color: var(--almost-black);
  font-family: "Epilogue", sans-serif;
  margin: -4rem 0 1.5rem 0;
}

.sub-content p {
  color: var(--medium-gray);
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-size: 14px;
  font-family: "Epilogue", sans-serif;
}

.sub-content .learn-more {
  color: var(--almost-White);
  background: var(--almost-black);
  font-family: "Epilogue", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--almost-black);
  padding: 15px 24px;
  border-radius: 14px;

  margin-bottom: 2rem;
}

.sub-content .learn-more:hover {
  cursor: pointer;
  background-color: var(--almost-white);
  color: var(--almost-black);
  border: 1px solid var(--almost-black);
  -webkit-transition: all 0.3ms ease-out;
  transition: all 0.3ms ease-out;
}

.content-icon {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.content-icon img {
  width: 64px;
  height: 12px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  main {
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    width: auto;
    height: fit-content;
  }

  .container {
    flex-direction: column-reverse;
    display: flex;

    width: 90vw;
  }

  .hamburger-icon {
    margin-left: -2px;
    padding-right: 5px;
  }

  .content {
    padding: 0;
    margin-top: 8rem;
  }

  .sub-content h1 {
    font-size: 2rem;
    padding: 30x;
    display: flex;
    justify-content: center;
  }

  .sub-content h1 br {
    display: none;
  }

  .sub-content p {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }

  .sub-content p br {
    display: none;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-bottom: -2rem;
  }

  .content-icon {
    margin-top: 0.6rem;
    gap: 2rem;
  }
}
